In [1]:
pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (1.7.7)
Requirement already satisfied: requests in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from tmdbv3api) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from requests->tmdbv3api) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from requests->tmdbv3api) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from requests->tmdbv3api) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from requests->tmdbv3api) (2022.12.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Nesse notebook realizamos as requisições da API TMDB para buscar os filmes já produzidos.
# Ao final, exportamos o dataframe gerado em um arquivo CSV, para serem utilizados nas etapas seguintes.
#Manipulação de dados
import pandas as pd

#Requisição da API
import requests
from tmdbv3api import Movie, TMDb

#Tratamento do JSON
import json

In [3]:
tmdb = TMDb()
tmdb_movie = Movie()
tmdb.api_key = 'd432f6c8a0f782815df6523ecd18dd9a'

In [4]:
df = pd.read_csv ("movies_metadata.csv")

C:\Users\yagor\AppData\Local\Temp\ipykernel_16668\1455398152.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv ("movies_metadata.csv")

In [5]:
df.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [6]:
df.shape

(45466, 24)

In [7]:
df.tail(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

### Filmes de 2018

In [8]:
url_2018 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"

In [9]:
df1 = pd.read_html(url_2018, header=0) [2]
df2 = pd.read_html(url_2018, header=0) [3]
df3 = pd.read_html(url_2018, header=0) [4]
df4 = pd.read_html(url_2018, header=0) [5]

In [10]:
df4.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,O C T O B E R,2,Power of the Air,Five & Two Pictures,Dave Christiano (director/screenplay); Nichola...,[203]
1,O C T O B E R,5,Venom,Columbia Pictures / Marvel Entertainment,"Ruben Fleischer (director); Jeff Pinkner, Scot...",[204]
2,O C T O B E R,5,A Star Is Born,Warner Bros. Pictures,Bradley Cooper (director/screenplay); Eric Rot...,[205]
3,O C T O B E R,5,The Great Buster: A Celebration,Cohen Media Group,Peter Bogdanovich (director),[206]
4,O C T O B E R,10,The Happy Prince,Sony Pictures Classics,Rupert Everett (director/screenplay); Rupert E...,[207]

In [11]:
df_2018 = df1.append(df2.append(df3.append(df4, ignore_index=True), ignore_index=True), ignore_index=True)

C:\Users\yagor\AppData\Local\Temp\ipykernel_16668\3630782862.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_2018 = df1.append(df2.append(df3.append(df4, ignore_index=True), ignore_index=True), ignore_index=True)

In [12]:
df_2018.head()

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,J A N U A R Y,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN
1,J A N U A R Y,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],NaN
2,J A N U A R Y,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4],NaN
3,J A N U A R Y,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],NaN
4,J A N U A R Y,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],NaN

In [13]:
df_2018.tail()

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
269,D E C E M B E R,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions,Etan Cohen (director/screenplay); Will Ferrell...,NaN,[164]
270,D E C E M B E R,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...,NaN,[137]
271,D E C E M B E R,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...,NaN,[229]
272,D E C E M B E R,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre...",NaN,[262]
273,D E C E M B E R,28,Black Mirror: Bandersnatch,Netflix,David Slade (director); Charlie Brooker (scree...,NaN,[263]

In [14]:
df_2018 = df_2018.filter(["Title", "Opening"], axis = 1)

In [15]:
df_2018.head()

                     Title        Opening
0  Insidious: The Last Key  J A N U A R Y
1         The Strange Ones  J A N U A R Y
2                 Stratton  J A N U A R Y
3            Sweet Country  J A N U A R Y
4             The Commuter  J A N U A R Y

In [16]:
df_2018.shape

(274, 2)

In [17]:
def get_id_movie_2018(title_movie):
    result = tmdb_movie.search(title_movie)
    movie_id = result[0].id
    return movie_id

In [18]:
df_2018["id"] = df_2018["Title"].map(lambda x: get_id_movie_2018(str(x)))

In [19]:
df_2018.head()

                     Title        Opening      id
0  Insidious: The Last Key  J A N U A R Y  406563
1         The Strange Ones  J A N U A R Y  426258
2                 Stratton  J A N U A R Y  348389
3            Sweet Country  J A N U A R Y  468210
4             The Commuter  J A N U A R Y  399035

In [20]:
df_2018.drop(columns=["Opening"], inplace=True)

In [21]:
df_2018.rename(columns={"Title": "original_title"}, inplace=True)

### Filmes de 2019

In [22]:
url_2019 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"

In [23]:
df2019_1 = pd.read_html(url_2019, header=0) [2]
df2019_2 = pd.read_html(url_2019, header=0) [3]
df2019_3 = pd.read_html(url_2019, header=0) [4]
df2019_4 = pd.read_html(url_2019, header=0) [5]

In [24]:
df_2019 = df2019_1.append(df2019_2.append(df2019_3.append(df2019_4, ignore_index=True), ignore_index=True), ignore_index=True)

C:\Users\yagor\AppData\Local\Temp\ipykernel_16668\1033217725.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_2019 = df2019_1.append(df2019_2.append(df2019_3.append(df2019_4, ignore_index=True), ignore_index=True), ignore_index=True)

In [25]:
df_2019 = df_2019.filter(["Title", "Opening"], axis = 1)

In [26]:
df_2019.shape

(245, 2)

In [27]:
def get_id_movie_2019(title_movie):
    result = tmdb_movie.search(title_movie)
    movie_id = result[0].id
    return movie_id

In [28]:
df_2019["id"] = df_2019["Title"].map(lambda x: get_id_movie_2019(str(x)))

In [ ]:
df_2019.drop(columns=["Opening"], inplace=True)

In [ ]:
df_2019.rename(columns={"Title": "original_title"}, inplace=True)

In [ ]:
df_2019.head()

     original_title      id
0       Escape Room  522681
1        Rust Creek  561362
2  American Hangman  567738
3  A Dog's Way Home  508763
4        The Upside  440472

### Filmes de 2020

In [ ]:
url_2020 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

In [ ]:
df2020_1 = pd.read_html(url_2020, header=0) [2]
df2020_2 = pd.read_html(url_2020, header=0) [3]
df2020_3 = pd.read_html(url_2020, header=0) [4]
df2020_4 = pd.read_html(url_2020, header=0) [5]

In [ ]:
df2020_4.tail()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
95,D E C E M B E R,25,We Can Be Heroes,Netflix / Troublemaker Studios / Double R Prod...,Robert Rodriguez (director/screenplay); Priyan...,[241]
96,D E C E M B E R,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,[242]
97,D E C E M B E R,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,[243]
98,D E C E M B E R,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,[244]
99,D E C E M B E R,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,[245]

In [ ]:
df_2020 = df2020_1.append(df2020_2.append(df2020_3.append(df2020_4, ignore_index=True), ignore_index=True), ignore_index=True)

C:\Users\yagor\AppData\Local\Temp\ipykernel_9364\37043138.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_2020 = df2020_1.append(df2020_2.append(df2020_3.append(df2020_4, ignore_index=True), ignore_index=True), ignore_index=True)

In [ ]:
df_2020 = df_2020.filter(["Title", "Opening"], axis = 1)

In [ ]:
df_2020.head()

               Title        Opening
0         The Grudge  J A N U A R Y
1         Underwater  J A N U A R Y
2        Like a Boss  J A N U A R Y
3      Three Christs  J A N U A R Y
4  Inherit the Viper  J A N U A R Y

In [ ]:
df_2020.shape

(275, 2)

In [ ]:
def get_id_movie_2020 (title_movie):
  result = tmdb_movie.search(title_movie)
  try:
   movie_id = result[0].id
  except:
   movie_id = -1 
  return movie_id

In [ ]:
df_2020["id"] = df_2020["Title"].map(lambda x: get_id_movie_2020(str(x)))

In [ ]:
df_2020.drop(columns=["Opening"], inplace=True)

In [ ]:
df_2020.rename(columns={"Title": "original_title"}, inplace=True)

### Filmes de 2021

In [ ]:
url_2021 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"

In [ ]:
df2021_1 = pd.read_html(url_2021, header=0) [2]
df2021_2 = pd.read_html(url_2021, header=0) [3]
df2021_3 = pd.read_html(url_2021, header=0) [4]
df2021_4 = pd.read_html(url_2021, header=0) [5]

In [ ]:
df2021_4.tail()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
93,D E C E M B E R,25.0,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,[273]
94,D E C E M B E R,25.0,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,[274]
95,D E C E M B E R,25.0,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",[275]
96,D E C E M B E R,26.0,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,[276]
97,D E C E M B E R,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_2021 = df2021_1.append(df2021_2.append(df2021_3.append(df2021_4, ignore_index=True), ignore_index=True), ignore_index=True)

C:\Users\yagor\AppData\Local\Temp\ipykernel_9364\3074251534.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_2021 = df2021_1.append(df2021_2.append(df2021_3.append(df2021_4, ignore_index=True), ignore_index=True), ignore_index=True)

In [ ]:
df_2021 = df_2021.filter(["Title", "Opening"], axis = 1)

In [ ]:
df_2021.shape

(361, 2)

In [ ]:
def get_id_movie_2021(title_movie):
    result = tmdb_movie.search(title_movie)
    movie_id = result[0].id
    return movie_id

In [ ]:
df_2021["id"] = df_2021["Title"].map(lambda x: get_id_movie_2021(str(x)))

In [ ]:
df_2021.drop(columns=["Opening"], inplace=True)

In [ ]:
df_2021.rename(columns={"Title": "original_title"}, inplace=True)

### Filmes de 2022

In [ ]:
url_2022 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2022"

In [ ]:
df2022_1 = pd.read_html(url_2022, header=0) [2]
df2022_2 = pd.read_html(url_2022, header=0) [3]
df2022_3 = pd.read_html(url_2022, header=0) [4]
df2022_4 = pd.read_html(url_2022, header=0) [5]
df2022_5 = pd.read_html(url_2022, header=0) [6]

In [ ]:
df2022_5.tail(6)

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
93,D E C E M B E R,30.0,A Man Called Otto,Columbia Pictures / Stage 6 Films / Playtone /...,"Marc Forster (director), David Magee (screenpl...",[261]
94,D E C E M B E R,30.0,"Alice, Darling",Lionsgate / Elevation Pictures,Mary Nighy (director); Alanna Francis (screenp...,[262]
95,D E C E M B E R,NaN,NaN,NaN,NaN,NaN
96,D E C E M B E R,NaN,NaN,NaN,NaN,NaN
97,D E C E M B E R,NaN,NaN,NaN,NaN,NaN
98,D E C E M B E R,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_2022 = df2022_1.append(df2022_2.append(df2022_3.append(df2022_4.append(df2022_5, ignore_index=True), ignore_index=True), ignore_index=True), ignore_index=True)

C:\Users\yagor\AppData\Local\Temp\ipykernel_9364\762255815.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_2022 = df2022_1.append(df2022_2.append(df2022_3.append(df2022_4.append(df2022_5, ignore_index=True), ignore_index=True), ignore_index=True), ignore_index=True)

In [ ]:
df_2022 = df_2022.filter(["Title", "Opening"], axis = 1)

In [ ]:
df_2022.shape

(340, 2)

In [ ]:
def get_id_movie_2022(title_movie):
    result = tmdb_movie.search(title_movie)
    movie_id = result[0].id
    return movie_id

In [ ]:
df_2022["id"] = df_2022["Title"].map(lambda x: get_id_movie_2022(str(x)))

In [ ]:
df_2022.drop(columns=["Opening"], inplace=True)

In [ ]:
df_2022.rename(columns={"Title": "original_title"}, inplace=True)

### Filmes de 2023

In [ ]:
url_2023 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2023"

In [ ]:
df2023_1 = pd.read_html(url_2023, header=0) [2]
df2023_2 = pd.read_html(url_2023, header=0) [3]
df2023_3 = pd.read_html(url_2023, header=0) [4]
df2023_4 = pd.read_html(url_2023, header=0) [5]
df2023_5 = pd.read_html(url_2023, header=0) [6]

In [ ]:
df2023_5.tail()

,Opening,Opening.1,Title,Studio,Cast and crew,Ref.
12,D E C E M B E R,20,The Color Purple,Warner Bros. Pictures / Amblin Entertainment,"Blitz Bazawule (director), Marcus Gardley (scr...",[89]
13,D E C E M B E R,20,Untitled Ghostbusters Afterlife sequel,Columbia Pictures / Bron Creative / Ghost Corps,Gil Kenan (director/screenplay); Jason Reitman...,[90]
14,D E C E M B E R,22,Migration,Universal Pictures / Illumination,Benjamin Renner (director); Mike White (screen...,[91]
15,D E C E M B E R,22,Rebel Moon,Netflix / The Stone Quarry / Grand Electric,Zack Snyder (director); Shay Hatten (screenpla...,NaN
16,D E C E M B E R,25,Aquaman and the Lost Kingdom,Warner Bros. Pictures / DC Studios / Atomic Mo...,James Wan (director); David Leslie Johnson-McG...,[30]

In [ ]:
df_2023 = df2023_1.append(df2023_2.append(df2023_3.append(df2023_4.append(df2023_5, ignore_index=True), ignore_index=True), ignore_index=True), ignore_index=True)

C:\Users\yagor\AppData\Local\Temp\ipykernel_9364\1956215484.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_2023 = df2023_1.append(df2023_2.append(df2023_3.append(df2023_4.append(df2023_5, ignore_index=True), ignore_index=True), ignore_index=True), ignore_index=True)

In [ ]:
df_2023 = df_2023.filter(["Title", "Opening"], axis = 1)

In [ ]:
df_2023.shape

(122, 2)

In [ ]:
def get_id_movie_2023(title_movie):
  result = tmdb_movie.search(title_movie)
  try:
    movie_id = result[0].id
  except:
    movie_id = -1
    return movie_id

In [ ]:
df_2023["id"] = df_2023["Title"].map(lambda x: get_id_movie_2023(str(x)))

In [ ]:
df_2023.drop(columns=["Opening"], inplace=True)

In [ ]:
df_2023.rename(columns={"Title": "original_title"}, inplace=True)

### Concatenando os dados de cada ano

In [ ]:
listas_dfs = [df_2018, df_2019, df_2020, df_2021, df_2022, df_2023]

In [ ]:
dfs_concat = pd.concat(listas_dfs)

In [ ]:
df_2018.shape

(274, 2)

In [ ]:
df_2019.shape

(245, 2)

In [ ]:
df_2020.shape

(275, 2)

In [ ]:
df_2021.shape

(361, 2)

In [ ]:
df_2022.shape

(340, 2)

In [ ]:
df_2023.shape

(122, 2)

In [ ]:
dfs_concat.shape

(1617, 2)

### Juntando com os dados do Kaggle