In [30]:
pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (1.7.7)
Requirement already satisfied: requests in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from tmdbv3api) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from requests->tmdbv3api) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from requests->tmdbv3api) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from requests->tmdbv3api) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from requests->tmdbv3api) (3.4)
Note: you may need to restart the kernel to use updated packages.

In [31]:
# Nesse notebook realizamos as requisições da API TMDB para buscar os filmes já produzidos.
# Ao final, exportamos o dataframe gerado em um arquivo CSV, para serem utilizados nas etapas seguintes.
#Manipulação de dados
import pandas as pd

#Requisição da API
import requests
from tmdbv3api import Movie, TMDb

#Tratamento do JSON
import json

In [32]:
tmdb = TMDb()
tmdb_movie = Movie()
tmdb.api_key = 'd432f6c8a0f782815df6523ecd18dd9a'

In [33]:
df = pd.read_csv ("movies_metadata.csv")

C:\Users\yagor\AppData\Local\Temp\ipykernel_16844\1455398152.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv ("movies_metadata.csv")

In [34]:
df.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [35]:
df.shape

(45466, 24)

In [36]:
df.tail(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [37]:
url = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"

In [38]:
df1 = pd.read_html(url, header=0) [2]
df2 = pd.read_html(url, header=0) [3]
df3 = pd.read_html(url, header=0) [4]
df4 = pd.read_html(url, header=0) [5]

In [39]:
df4.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,O C T O B E R,2,Power of the Air,Five & Two Pictures,Dave Christiano (director/screenplay); Nichola...,[203]
1,O C T O B E R,5,Venom,Columbia Pictures / Marvel Entertainment,"Ruben Fleischer (director); Jeff Pinkner, Scot...",[204]
2,O C T O B E R,5,A Star Is Born,Warner Bros. Pictures,Bradley Cooper (director/screenplay); Eric Rot...,[205]
3,O C T O B E R,5,The Great Buster: A Celebration,Cohen Media Group,Peter Bogdanovich (director),[206]
4,O C T O B E R,10,The Happy Prince,Sony Pictures Classics,Rupert Everett (director/screenplay); Rupert E...,[207]

In [40]:
df_2018 = df1.append(df2.append(df3.append(df4, ignore_index=True), ignore_index=True), ignore_index=True)

C:\Users\yagor\AppData\Local\Temp\ipykernel_16844\3630782862.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_2018 = df1.append(df2.append(df3.append(df4, ignore_index=True), ignore_index=True), ignore_index=True)

In [41]:
df_2018.head()

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,J A N U A R Y,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN
1,J A N U A R Y,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],NaN
2,J A N U A R Y,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4],NaN
3,J A N U A R Y,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],NaN
4,J A N U A R Y,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],NaN

In [42]:
df_2018.tail()

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
269,D E C E M B E R,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions,Etan Cohen (director/screenplay); Will Ferrell...,NaN,[164]
270,D E C E M B E R,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...,NaN,[137]
271,D E C E M B E R,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...,NaN,[229]
272,D E C E M B E R,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre...",NaN,[262]
273,D E C E M B E R,28,Black Mirror: Bandersnatch,Netflix,David Slade (director); Charlie Brooker (scree...,NaN,[263]

In [43]:
df_2018 = df_2018.filter(["Title", "Opening"], axis = 1)

In [44]:
df_2018.head()

                     Title        Opening
0  Insidious: The Last Key  J A N U A R Y
1         The Strange Ones  J A N U A R Y
2                 Stratton  J A N U A R Y
3            Sweet Country  J A N U A R Y
4             The Commuter  J A N U A R Y

In [45]:
df_2018.shape

(274, 2)

In [46]:
def get_id_movie_2018(title_movie):
    result = tmdb_movie.search(title_movie)
    movie_id = result[0].id
    return movie_id

In [47]:
df_2018["id"] = df_2018["Title"].map(lambda x: get_id_movie_2018(str(x)))

In [48]:
df_2018.head()

                     Title        Opening      id
0  Insidious: The Last Key  J A N U A R Y  406563
1         The Strange Ones  J A N U A R Y  426258
2                 Stratton  J A N U A R Y  348389
3            Sweet Country  J A N U A R Y  468210
4             The Commuter  J A N U A R Y  399035

In [49]:
df_2018.drop(columns=["Opening"], inplace=True)

In [50]:
df_2018.rename(columns={"Title": "original_title"}, inplace=True)