In [3]:
pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.7-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: requests in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from tmdbv3api) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from requests->tmdbv3api) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from requests->tmdbv3api) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from requests->tmdbv3api) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\yagor\miniconda3\envs\myenv\lib\site-packages (from requests->tmdbv3api) (2.0.4)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.7
Note: you may need to restart the kernel to use updated packages.

In [9]:
# Nesse notebook realizamos as requisições da API TMDB para buscar os filmes já produzidos.
# Ao final, exportamos o dataframe gerado em um arquivo CSV, para serem utilizados nas etapas seguintes.
#Manipulação de dados
import pandas as pd

#Requisição da API
import requests
from tmdbv3api import Movie, TMDb

#Tratamento do JSON
import json

In [10]:
tmdb = TMDb()
tmdb.api_key = 'd432f6c8a0f782815df6523ecd18dd9a'

In [5]:
df = pd.read_csv ("movies_metadata.csv")

C:\Users\yagor\AppData\Local\Temp\ipykernel_13464\1455398152.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv ("movies_metadata.csv")

In [6]:
df.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [7]:
df.shape

(45466, 24)

In [8]:
df.tail(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0